@import "tailwindcss";


@theme {
  /* ----------COLORS------------ */
  --color-basecolor: #000000;
  --color-white:  #ffffff;
  --color-maroon: #8b0000;
  --color-grey50:  #f8fafc;
  --color-grey100: #eef2f6;
  --color-grey200: #e3e8ef;
  --color-grey300: #cdd5df;
  --color-grey500: #697586;
  --color-grey600: #4b5565;
  --color-grey700: #364152;
  --color-grey900: #121926;

  /* ----------TEXT SIZE---------- */
  --text-title_xxl: 80px;
  --text-title_xl: 40px;
  --text-title_lg: 35px;
  --text-title: 25px;
  --text-title_sm: 20px;
  --text-p_lg: 18px;
  --text-p: 16px;
  --text-psm: 14px;
  --text-xsm: 12px;

  /* ----------Break Point---------- */
  --breakpoint-xsm: 330px;
}
